
/******* GENERAL *******/
* {
  font-family: Mali, cursive;
  margin: 0;
  padding: 0;
}

h1, h2, p, i {
    color: #060659;
}


/******* HOME PAGE *******/

/*** General ***/
.home-page {
  background-image: url("./images/Coffee-Background-Picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-heading h1 {
  font-size: 400%;
}

.home-heading h1 i{
  color: #F22C63;
  margin: 0 10px;
}

.home-subheading h2 {
  font-size: 200%;
}

.home-buttons {
  margin: 20px 0;
  font-weight: bold;
  color: #060659;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.home-buttons button {
 transition: box-shadow .20s;
 border-radius: 20px
}

.home-button:hover {
    box-shadow: 6px 0px 14px 0px #00000042;
}

.home-buttons span{
  font-size: 125%;
}

button.user-location {
  background-color: #06F5F4;
}

button.user-city {
  background-color:  #F22C63;
}

button.home-button {
    font-size: 125%;
    font-family: mali;
    color: #060659;
    font-weight: bold;
    padding: 8px 25px;
    margin: 0 30px;
    width: 300px;
    border: 0;
    box-shadow: 0px 6px 14px 0px #00000042;
}

/*** General Responsive Design ***/
@media only screen and (max-width: 650px) {
  .home-heading h1 {
    font-size: 300%;
  }
  .home-heading h1 {
    font-size: 300%;
  }
  .home-buttons{
    flex-flow: column !important;
  }
  button.user-location, button.user-city  {
        margin: 0 auto;
  }
  .home-buttons span {
    margin: .3em;
  }
  .home-heading {
    padding-bottom: 1.5em;
  }
  .home-subheading h2 {
    font-size: 180%;
  }
}

@media only screen and (max-width: 450px) {
    .home-heading h1 {
      font-size: 250%;
    }
}


/******* User Location & City Search *******/
.svg-loader {
  margin-top: .5em;
  margin-bottom: 1.5em;
}

.home-result {
  display: flex;
  flex-flow: column;
}

.home-result button {
  margin: .2em auto;
}

.home-cafes-numbers {
    font-weight: bold;
    margin: .5em auto
}

.home-cafes-numbers span {
    color: #F22C63;
}

button.map-result i {
  padding-top: 8px;
  font-size: 2em;
}

button.map-result  {
  background-color: #06F5F4;
  border-radius: 20px;
  width:250px;
}

span.home-span-or {
    margin: .5em;
}

button.back-menu {
  font-size: 100%;
  padding: 0;
  margin:0 auto;
  width:200px;
  padding: 8px 25px;
  border-radius: 20px;
}

button.back-menu i {
  margin-right: 5px;
}

/*** User Location & City Search Responsive Design ***/
@media only screen and (max-width: 650px) {
  button.map-result  {
    width:200px;
  }
  .home-result input.search-caféi {
    width: 350px;
  }
}

@media only screen and (max-width: 450px) {
  button.home-button {
    width: 250px;
  }

  .home-result input.search-café {
    width: 90%;
  }
}


/*** City Search ***/
input.search-café {
  border: 1px lightgrey solid;
  padding: 8px 10px;
  margin: 20px auto;
  width: 400px;
  height: 24px;
  font-family: mali;
  font-size: 125%;
  color: #060659;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
}

/******* MAP PAGE *******/
/*** General ***/
.map-page {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*** heading ***/
.map-heading {
  height: 10vh;
  background-color: #060659;
  box-shadow: -1px 7px 10px 0px #00000024;
}


.map-heading h1, .map-heading i{
  color: white;
}

.map-heading h1 i{
  color: #F22C63;
  margin: 0 10px;
}

.map-heading {
    position: relative
  }

.map-heading h1 {
  font-size: 200%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

.map-heading p {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-right: -2%;
    transform: translate(-2%, -50%)
  }

.map-heading p i {
    padding-right: .5em;
  }

/***** MAP MAIN *****/

.map-main {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.map-side-bar {
  width: 30vw;
  height: 90vh;
  background: white;
}

/*** INPUT ***/
.map-search {
  height: 10vh;
}

.map-search input {
  width: calc(30vw - 52px);
  padding-left: 52px;
  height: 10vh;
  line-height: 80px;
  border: 0;
  font-size: 100%;
}

.map-search i {
  position: absolute;
  top: 14vh;
  left: 30px;
}

.map-search p {
    position: absolute;
    top: 18vh;
    left: calc(30vw - 120px);
    font-size: x-small;
}

.map-search p span {
  color: #F22C63;
}

/*** Search List ***/
.map-search-list {
  width: 100%;
  height: 80vh;
  overflow: auto;
  color: white;
  font-family: Mali, cursive;
  font-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.map-search-list li {
  position: relative;
  min-height: 8vh;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
}


.map-search-list li:nth-child(2n) {
  background: #060659;
}
.map-search-list li:nth-child(2n) p {
  color: white;
}

.map-search-list li:nth-child(2n + 1) {
  background: #06F5F4;
}

.map-search-list button {
  text-align: left;
}

.map-search-list p {
  margin: 0;
}

.map-search-list button{
  background:none;
  border: none;
  color: #F22C63;
  font-weight: bold;;
  font-size: 1em;
}

.search-failed{
  margin: auto 0;
  height: 80vh;
  background: #F22C63;
  text-align: center;
}

/*** MAP ***/

#map {
  width: 70vw;
  height: 90vh;
}

.gmnoprint {
    display: none;
}


/*** MAP PAGE Responsive Design ***/
@media only screen and (max-width: 1400px) {
  .map-heading p, .map-search i  {
    left: 20px;
  }
  .map-search input {
    width: calc(30vw - 42px);
    padding-left: 42px;
  }
  .map-search p {
    left: calc(30vw - 110px);
  }
  .map-search-list li {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 800px) {
  .map-main {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .map-side-bar {
    width: 100vw;
    height: 60vh;
  }
  .map-search input {
    width: calc(100vw - 42px);
    padding-left: 42px;
  }
  .map-search i {
    top: 44vh;
  }
  .map-search p {
    top: 48vh;
  }
  .map-search p {
    left: calc(100vw - 110px);
  }
  .map-search-list {
    height: 50vh;
  }
  #map {
    width: 100vw;
    height: 30vh;
    box-shadow: -1px 7px 10px 0px #00000024;
  }
}


@media only screen and (max-width: 600px) {
  .map-heading p span {
    display: none;
  }
  #map {
    height: 25vh;
  }
  .map-side-bar {
    height: 65vh;
  }
  .map-search {
    height: 10vh;
}
  .map-search-list {
    height: 55vh;
  }
  .map-search i {
    top: 39vh;
  }
  .map-search p {
    top: 42vh;
  }
}

@media only screen and (max-width: 400px) {
  .map-heading h1 {
      font-size: 150%;
    }
  .map-search-list button {
    font-size: .8em;
  }
  .map-search-list p {
    font-size: .8em;
  }
}
